
.Sivu {
  position: fixed;
  top: 0.5vh;
  right: 0.5vw;
  height: 99vh;
  width: 99vw;;
  text-align: center;
  overflow: hidden;
  background-color: #422C8E;
}

.Nauha {
  display: block;
  position: absolute;
  height: 40vh;
  width: 70vw;
  top: calc(10vh + 20vmin);
  left: 50px;
  border-radius: 10px;
  background-color: #E5CDFA;
  border: solid 5px #742EB1;
  box-shadow: -5px -5px 5px  #280248,
               5px  5px 5px  #280248
               1px  1px 3px #FCF9FF inset;
  animation: slide-left forwards 3s ease-in;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5vw;
}

@keyframes slide-left {
  0%    {left: 101vw;}
  100%  {left: 40vw;}
}

.Palsta {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Otsikko {
  display: block;
  line-height: 0.1;
  font-weight: 700;
  font-size: 28vh;
  color: #5E0DA4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wheel {
  display: block;
  position: absolute;
  height: 25vmin;
  width: auto;
  opacity: 1;
  z-index: 10;
}

.right {
  right: -3vw;
}

.up {
  top: 18vh;
}

.low {
  bottom: 15vh;
}

@media (prefers-reduced-motion: no-preference) {
  .spin-r {
    animation: rotate-right infinite 2s linear;
  }

  .spin-l {
    animation: rotate-left infinite 2s linear;
  }

}

@keyframes fader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
